<%- include('../partials/head'); %>

<div class="container">
    <h1>Criar produto</h1>
    <form action="/products/createproduct" method="post">
        <div class="form-control">
            <label for="name">Nome do Produto:</label>
            <input type="text" name="name" placeholder="Digite o nome do produto">
        </div>
        <div class="form-control">
            <label for="image">Imagem do Produto:</label>
            <input type="text" name="image" placeholder="Insira a imagem do produto">
        </div>
        <div class="form-control">
            <label for="price">preço do Produto:</label>
            <input type="text" name="price" placeholder="Digite o preço do produto">
        </div>
        <div class="form-control">
            <label for="description">Descrição do Produto:</label>
            <textarea type="text" name="description" placeholder="Digite a descrição do produto"> </textarea>
        </div>
        <input type="submit"  class="btn" value="Cadastrar">
    </form>
    </div>